.character-details-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 375px;
  display: flex;
  opacity: 1;
  border-radius: 5px;
  background-color: rgb(87, 87, 87);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: row;
  align-items: center;

  @media (max-width: 724px) {
    padding-top: 20px;
    flex-direction: column;
    width: 60%;
    height: auto;

    .detail-value {
      flex-wrap: wrap;
    }
  }

  @media (max-width: 570px) {
    width: 85%;
  }

  @media(max-width: 402px){
    width: 95%;
  }
}

.character-details-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.character-details-modal-image {
  height: 330px;
  width: 50%;
  margin-right: .5em;

  @media (max-width: 724px) {
    width: 60%;
    height: 30%;
  }
}
.episode-list {
  display: flex;
  flex-wrap: wrap;

  .detail-type {
    margin-right: 50px;
  }

  .detail-value {
    margin-left: 10px;
    margin-top: 5px;
  }

  .episode-list-numbers {
    display: flex;
    flex-wrap: wrap;
  }
}
