.location-details-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  z-index: 3;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  display: flex;
  opacity: 1;
  border-radius: 5px;
  background-color: rgb(87, 87, 87);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.location-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.location-title {
  margin-bottom: 5px;
  font-size: 1em;
  text-align: center;
}